<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.po.CustomerMapper">
	<!-- 根据id 查询客户信息 -->
	<select id="findById" parameterType="int" resultType="customer">
		select * from customer where id = #{id}
	</select>
</mapper>